<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>MITOWA</title>
<link rel="stylesheet" type="text/css" href="__FILE_ROOT_PATH__/mitowa/design2/libs/normalize.css" />
<link rel="stylesheet" type="text/css" href="__FILE_ROOT_PATH__/mitowa/design2/css/pc/style.css" />

<div class="countdown">
	<img src="__FILE_ROOT_PATH__/mitowa/design2/img/pc/sale.png" alt="本日限定SALE終了まで" class="img-responsive img-center" />
	<div id="CP">
		<div id="txt"></div>
		<div id="inner">
			<div id="CDT"></div>
		</div>
	</div>
</div>
<div class="container">
	<div class="fv">
		<img src="__FILE_ROOT_PATH__/mitowa/design2/img/pc/fv.jpg" alt="遺伝子レベルのケアで 至上最高の美肌へ" class="img-responsive" />
	</div>
	<div class="nakajima">
		<img src="__FILE_ROOT_PATH__/mitowa/design2/img/pc/nakajima.jpg" alt="「遺伝子レベルでケアできる、 最新技術に注目したサプリメントです」" class="img-responsive" />
	</div>
	<div class="bg">
		<div class="cta">
			<div class="absolute">
				<a href="#form" class="btn"><img src="__FILE_ROOT_PATH__/mitowa/design2/img/pc/btn.png" alt="ネット限定 特別コースを" /></a>
			</div>
		</div>
		<div class="stock-appeal">
			<img src="__FILE_ROOT_PATH__/mitowa/design2/img/pc/stock-appeal.jpg" alt="大変申し訳ございません。 残りの在庫数が少なくなってきております。" class="img-responsive img-center" />
		</div>
		<div class="requirements">
			<p class="ttl">ドクターミトワ　ネット限定特別コース　募集要項</p>
			<ul class="list">
				<li>・毎月自動でお届けする定期コースとなります。</li>
				<li>・２回目以降の価格は6,980円（+税/送料600円税抜）でお届けします。</li>
				<li>・５回目以降から、所定の手続きで休止・解約が可能です。</li>
				<li>・継続して続けることが重要ですので効果を実感していただくため、<br/>最低４ヶ月（初回含め４回以上）の継続をお約束いただいております。4回継続合計は25,320円（送料込/税抜）となります。</li>
			</ul>
		</div>
	</div>
	<div class="woman">
		<img src="__FILE_ROOT_PATH__/mitowa/design2/img/pc/woman_1.jpg" alt="woman 1" class="img-responsive" />
		<img src="__FILE_ROOT_PATH__/mitowa/design2/img/pc/woman_2.jpg" alt="woman 2" class="img-responsive" />
	</div>
</div>
<div class="float-btn">
	<a href="#form" class="btn"><img src="__FILE_ROOT_PATH__/mitowa/design2/img/pc/float_btn.png" alt="ネット限定 特別コースを" /></a>
</div>

<div id="form">
	__PAYMENT_FORM__
</div>

<script type="text/javascript" href="__FILE_ROOT_PATH__/mitowa/design2/libs/jquery.min.js"></script>
<script type="text/javascript" href="__FILE_ROOT_PATH__/mitowa/design2/libs/countdown.js"></script>
<script type="text/javascript" href="__FILE_ROOT_PATH__/mitowa/design2/js/pc/customize.js"></script>