@-webkit-keyframes shiny {
  0% {
    left: -30%;
  }
  100% {
    left: 120%;
  }
}
@-moz-keyframes shiny {
  0% {
    left: -30%;
  }
  100% {
    left: 120%;
  }
}
@-ms-keyframes shiny {
  0% {
    left: -30%;
  }
  100% {
    left: 120%;
  }
}
@-o-keyframes shiny {
  0% {
    left: -30%;
  }
  100% {
    left: 120%;
  }
}
@keyframes shiny {
  0% {
    left: -30%;
  }
  100% {
    left: 120%;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  color: #000;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 1050px;
  margin: 0 auto;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.countdown {
  background-color: #252872;
  width: 710px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  padding-bottom: 10px;
  z-index: 9;
}

#CP {
  color: #fff;
  font-family: serif;
  line-height: 0.8;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 900;
  padding-top: 4px;
}
#CP .after {
  font-size: 28px;
  letter-spacing: 0;
}
#CP .jikan, #CP .hun, #CP .byou {
  font-size: 30px;
}
#CP .hou, #CP .min, #CP .sec {
  font-size: 36px;
}

.bg {
  background: url(../../img/pc/bg.jpg) no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
  padding: 30px 0 45px 0;
}
.bg .cta {
  background: url(../../img/pc/cta.png) no-repeat center;
  height: 682px;
  position: relative;
}
.bg .cta .absolute {
  position: absolute;
  bottom: 37px;
  left: 0;
  right: 0;
  text-align: center;
}
.bg .cta .absolute a {
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  position: relative;
}
.bg .cta .absolute a:before {
  content: '';
  width: 221px;
  height: 221px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
  animation: shiny 2s infinite;
  transform: skew(-25deg);
  position: absolute;
  top: 0;
}
.bg .cta .absolute a:hover {
  opacity: 0.9;
}
.bg .cta .absolute a img {
  vertical-align: bottom;
}
.bg .stock-appeal {
  margin-top: 50px;
}
.bg .requirements {
  background: rgba(255, 255, 255, 0.65);
  width: 920px;
  margin: 0 auto;
  padding: 15px 40px;
  line-height: 1.4;
  margin-top: 30px;
}
.bg .requirements .ttl {
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}
.bg .requirements .list {
  margin-bottom: 15px;
}

.float-btn {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  text-align: center;
}
.float-btn a {
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  position: relative;
}
.float-btn a:before {
  content: '';
  width: 221px;
  height: 91px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
  animation: shiny 2s infinite;
  transform: skew(-25deg);
  position: absolute;
  top: 0;
}
.float-btn a:hover {
  opacity: 0.9;
}
.float-btn a img {
  vertical-align: bottom;
}

/*# sourceMappingURL=style.css.map */
