
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>MITOWA</title>
<link rel="stylesheet" type="text/css" href="__FILE_ROOT_PATH__/mitowa/design2/libs/normalize.css" />
<link rel="stylesheet" type="text/css" href="__FILE_ROOT_PATH__/mitowa/design2/css/sp/style.css" />

<div class="countdown">
	<img src="__FILE_ROOT_PATH__/mitowa/design2/img/sp/sale.png" alt="本日限定SALE終了まで" class="img-responsive img-center" />
	<div id="CP">
		<div id="txt"></div>
		<div id="inner">
			<div id="CDT"></div>
		</div>
	</div>
</div>
<div class="container">
	<div class="fv">
		<img src="__FILE_ROOT_PATH__/mitowa/design2/img/sp/fv.jpg" alt="遺伝子レベルのケアで 至上最高の美肌へ" class="img-responsive" />
	</div>
	<div class="nakajima">
		<img src="__FILE_ROOT_PATH__/mitowa/design2/img/sp/nakajima.jpg" alt="「遺伝子レベルでケアできる、 最新技術に注目したサプリメントです」" class="img-responsive" />
	</div>
	<div class="cta">
		<img src="__FILE_ROOT_PATH__/mitowa/design2/img/sp/cta.jpg" alt="" class="img-responsive" />
		<div class="absolute">
			<a href="#form" class="btn"><img src="__FILE_ROOT_PATH__/mitowa/design2/img/sp/btn.png" alt="ネット限定 特別コースを" class="img-responsive" /></a>
		</div>
	</div>
	<div class="stock-appeal">
		<img src="__FILE_ROOT_PATH__/mitowa/design2/img/sp/stock-appeal.jpg" alt="" class="img-responsive" />
	</div>
	<div class="requirements">
		<div class="box">
			<p class="ttl">ドクターミトワ　ネット限定特別コース　募集要項</p>
			<div class="list">
				<dl>
					<dt>・</dt>
					<dd>毎月自動でお届けする定期コースとなります。</dd>
				</dl>
				<dl>
					<dt>・</dt>
					<dd>２回目以降の価格は6,980円（+税/送料600円税抜）でお届けします。</dd>
				</dl>
				<dl>
					<dt>・</dt>
					<dd>５回目以降から、所定の手続きで休止・解約が可能です。</dd>
				</dl>
				<dl>
					<dt>・</dt>
					<dd>継続して続けることが重要ですので効果を実感していただくため、<br/>最低４ヶ月（初回含め４回以上）の継続をお約束いただいております。<br/>4回継続合計は25,320円（送料込/税抜）となります。</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
<div class="float-btn">
	<a href="#form" class="btn">
		<img src="__FILE_ROOT_PATH__/mitowa/design2/img/sp/btn.png" alt="ネット限定 特別コースを" class="img-responsive" />
	</a>
</div>

<div id="form">__PAYMENT_FORM__</div>

<script type="text/javascript" src="__FILE_ROOT_PATH__/mitowa/design2/libs/jquery.min.js"></script>
<script type="text/javascript" src="__FILE_ROOT_PATH__/mitowa/design2/libs/countdown.js"></script>
<script type="text/javascript" src="__FILE_ROOT_PATH__/mitowa/design2/js/sp/customize.js"></script>
